/*
Theme Name: customtheme
Author: Vegibit
Author URI: https://vegibit.com
Version: 1.0
 */

/* 1.DEFAULT__________________________________________________________________________*/


 body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #545454;
    margin:0;
    padding:0;
}
h1 {
    font-size:48px;
}
h2 {
    font-size:32px;
}
h3 {
    font-size:28px;
}
h4 {
    font-size:24px;
    margin:8px 0px;
}
h5 {
    font-size:18px;
}
a:link, a:visited {
    color: #4285f4;
}
 
p {
    line-height: 1.7em;
}
 
div.container {
    max-width: 960px;
    margin: 0 auto;
}
.wrapper {
    width:65%;
    margin:0 auto;
}@media screen (min-width: 420px) and (max-width: 599px) {
	.wrapper {
        width:80%;
        margin:0 auto;
    }
}
.intro {
    padding:0px 120px;
}
.img-duo {
    width:100%;
    position: relative;
}
/* 2.NEWS / BEITRÄGE__________________________________________________________________________ */ 

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

.post {
    background:grey;
    padding:12px;
    margin:8px;
    width:100%;
    border-radius:12px;
    text-align:left;
} 
.post:hover {
    background:#565656;
} 
.post h3 {
    text-decoration:none;
    color:white;
}
article.post:last-of-type {
    border-bottom: none;
}

/* 3.HEADER__________________________________________________________________________ */

.site-header {
    background:#565656;
    display:flex;
    width:100%;
    padding:0px 32px;
}
.accordion-header .wp-post-image {
    height:380px;
    margin:0;
}
.wp-post-image {
    width:100%;
    height:860px;
    object-fit: cover; 
    margin:0;
}
.header-left {
    flex-direction:column;
}
.header-left a {
    text-decoration:none;
    color:white;
}
.header-left h1 {
   font-size:24px;
}
.header-menu {
    padding:32px;
}
.header-menu ul {
    display:flex;
}
.menu li {
    list-style:none;
    margin:0px 12px;
}
.menu li a {
    text-decoration:none;
    color:white;
}

/* 4.FOOTER__________________________________________________________________________ */

.site-footer {
    border-top: 3px solid #ecf0f1;
}


.accordion {
    background:#565656;
    color: white;
    box-shadow:9px 8px 12px black;
    cursor: pointer;
    width: 100%;
    border-radius: 24px;
    display:flex;
    text-align: left;
    font-size: 15px;
    margin:42px 0px;
  }
  .accordion-header {
    width:50%;
    padding: 16px 16px 12px;
  }.accordion-header img {
      border-radius:28px 28px 28px 28px;
  }
  .acordion-text {
    padding: 12px 32px;

  }
  .next {
      width:100%;
      padding:12px 16px;
      margin-top:12px;
      text-align:center;
      color:white;
      background:#767676;
      border-radius:32px;
      border:none;
      
  }
  .breadcrumb {
      
      margin:12px 0px; 
  }
  .breadcrumb a {
    text-decoration: none; 
}
  .accordion li {
    text-decoration:none;
    list-style:none;
  }
  .active, .next:hover {
    background-color:turquoise; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .panel li a {
    list-style:none;
  }
li a {
    color:white;
    text-decoration: none;
  }

.guide_list {
      width:80%;
      margin:0 auto;
      background:coral;
  }